@font-face{
  font-family: gi;
  src: url('../css/font/GlacialIndifference-Regular.otf');
}

@font-face{
  font-family: gi-bold;
  src: url('../css/font/GlacialIndifference-Bold.otf');
}

html, body{
    font-family: 'gi';
    background-color: #005cff;
    overflow: hidden !important;
    height: 100% !important;
    width: 100% !important;

}

h1,
h2,
h3,
h4,
h5,
h6,
a,
q,
div{
  color: white;
  font-weight: 500;
}

#header{
  overflow: hidden !important;
}

.home{
    padding-top: 15%;
    margin-right: -6%;
}

#logo img{
  position: relative;
  width: 210px;
  height: 210px;
  margin-bottom: -13%;
  margin-top: -10%;
  transition: box-shadow .3s;
  -webkit-transition-delay: 2s;
  -moz-transition-delay: 2s;
  -o-transition-delay: 2s;
  transition-delay: 2s;
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.p-size{
  font-size: 20px;
  margin-top: 3%;
}
.p-hello{
      margin-top: -5%;
}

#logo h3{
  margin-left: 13%;
  font-size: 1.2em;
}
/*Social Icons CSS*/

.social-icon {
   font-size: 1.5em;
   position: fixed;
   left: 0;
   bottom: 6%;
   width: 100%;
   color: white;
   text-align: center;
}
.social-icon a:hover, a:active, a:focus, a:visited{
  color: white;
  text-decoration: none;
}

.social-icon h3{
  font-weight: 600;
  font-size: 18px;
 }

.social a {
  color: inherit;
  text-decoration: none;
}

.social i {
  margin: .3em;
  transition: color 300ms ease, margin-top 300ms ease;
  transform: translateZ(0);
}

.social i:hover {
  margin-top: -1px;
}

.social i#facebook:hover {
  color: #40ffe1;
}

.social i#twitter:hover {
  color: #40ffe1;
}

.social i#behance:hover {
  color: #40ffe1;
}

.social i#insta:hover {
  color: #40ffe1;
}

.social i#linkedin:hover {
  color: #40ffe1;
}

#fb_widget .label{
  position:relative;
  float:left;
  color:#005f46;
  min-width:20%;
} 

#fb_widget .field{
  position:relative;
  float:left;
}

#fb_widget .element{
  border:0 dotted red;
  margin:12px;
  padding:5px;
  min-height:25px;
  clear:both;
}

#fb_widget .field input{
  margin:0;
  padding:0;
}

#fb_link.disabled{
  opacity:0;
  visibility:hidden;
}

#fb_link.disabled .tooltiptext{
  font-size:0
} 
#fb_link.disabled .tooltiptext:after{
  content:"OFFLINE";
  font-size:12px
} 

#fb_link.email_us .tooltiptext{
  font-size:0;
}

#img_email{
  display:none;
  } 

  #fb_link.email_us .tooltiptext:after{
    content:"EMAIL US";
    font-size:12px;
  }

.fbmessenger{
  position:fixed;
  bottom:15px;
  right:15px;
  z-index:999999999;
}

.fbmessenger span{
  z-index:999999999;
  position: absolute;
  } 

.fbmessenger.wpostop_left{
  left:2px;
  right:initial;
  top:0;bottom:initial;
}

.tooltiptext.wpostop_left{
  left:60px;
  right:initial;
  top:8px;
  bottom:initial;
}

.fbmessenger.wpostop_right{
  left:initial;
  right:15px;
  top:0;
  bottom:initial;
}

.tooltiptext.wpostop_right{
  left:initial;
  right:60px;
  top:8px;
  bottom:initial;
} 

.fbmessenger.wposbottom_left{
  left:2px;
  right:initial;
  top:initial;
  bottom:0;
}
.tooltiptext.wposbottom_left{
  left:60px;
  right:initial;
  top:initial;
  bottom:10px;
}

.fbmessenger.wposbottom_right{
    left:initial;
    right: 30px;
    top: initial;
    bottom: 45px;
   /* background: white;
   border-radius: 14px;*/
   filter:drop-shadow(2px 6px 4px rgba(0,0,0,.3));
  -webkit-filter:drop-shadow(0px 3px 2px rgba(84, 66, 66, 0.3));
  }

 .tooltiptext.wposbottom_right{
  left:initial;
  right:60px;
  top:initial;
  bottom:10px;
}

.fbmessenger img{
    height: 54px;
    width: 54px;
    background-size: auto;
}

/* Media Queries for Mobile view */


@media only screen and (width: 1440px) {
    .home {
        padding-top: 11%;
        margin-right: -8%;
    }
}

@media (max-width: 1367px) {
.home {
    padding-top: 15%;
    margin-right: -7%;
}
}


@media (max-width: 768px) {
.home {
    padding-top: 19%;
    margin-right: 3%;
}
}

@media (max-width: 430px) {

#header{
  overflow: hidden !important;
}

#logo img {
    position: relative;
    width: 150px;
    height: 150px;
    margin-bottom: -10%;
    margin-top: -10%;
    margin-left: -73%;
}
#logo h3{
  margin-left: -62%;
  font-size: 0.9em;
  margin-top: 5%;
}
.p-size {
    font-size: 20px;
    margin-top: 5%;
    margin-left: 6%;
    text-align: center !important;
}
.p-hello{
      margin-top: -5%;
}
.social-icon {
    font-size: 1.5em;
    position: fixed;
    left: 0;
    bottom: 2%;
    width: 100%;
    color: white;
    text-align: center;
}

.social-icon h3{
  font-weight: 600;
  font-size: 18px;
}

.fbmessenger.wposbottom_right {
    left: initial;
    right: 30px;
    top: initial;
    bottom: 25px;
    filter: drop-shadow(2px 6px 4px rgba(0,0,0,.3));
    -webkit-filter: drop-shadow(0px 3px 2px rgba(84, 66, 66, 0.3));

}

}



@media (max-width: 380px) {

#header{
  overflow: hidden !important;
}
.home {
    padding-top: 20%;
    margin-right: -8%;
}
#logo img {
    position: relative;
    width: 150px;
    height: 150px;
    margin-bottom: -10%;
    margin-top: -10%;
    margin-left: -85%;
}
#logo h3{
  margin-left: -74%;
  font-size: 0.9em;
  margin-top: 5%;
}
.p-size {
    font-size: 16px;
    margin-top: 7%;
    margin-left: 9%;
    text-align: center !important;
}
.p-hello{
      margin-top: -5%;
}
.social-icon {
    font-size: 1.5em;
    position: fixed;
    left: 0;
    bottom: 5%;
    width: 100%;
    color: white;
    text-align: center;
}

.social-icon h3{
  font-weight: 600;
  font-size: 16px;
}

.fbmessenger.wposbottom_right {
    left: initial;
    right: 30px;
    top: initial;
    bottom: 20px;
    filter: drop-shadow(2px 6px 4px rgba(0,0,0,.3));
    -webkit-filter: drop-shadow(0px 3px 2px rgba(84, 66, 66, 0.3));

}
}

@media (max-width: 320px) {

#header{
  overflow: hidden !important;
}
.home {
    padding-top: 25%;
    margin-right: -8%;
    overflow: hidden;
}
#logo img {
    position: relative;
    width: 150px;
    height: 150px;
    margin-bottom: -10%;
    margin-top: -10%;
    margin-left: -63%;
}
#logo h3{
  margin-left: -52%;
    font-size: 0.9em;
    margin-top: 4%;
}
.p-size {
    font-size: 16px;
    margin-top: 8%;
    margin-left: 2%;
    text-align: center !important;
    overflow: hidden;
}
.p-hello{
      margin-top: -5%;
}
.social-icon {
    font-size: 1.5em;
    position: fixed;
    left: 0;
    bottom: 6%;
    width: 100%;
    color: white;
    text-align: center;
}

.social-icon h3{
  font-weight: 600;
  font-size: 16px;
}

.fbmessenger.wposbottom_right {
    left: initial;
    right: 10px;
    top: initial;
    bottom: 18px;
    filter: drop-shadow(2px 6px 4px rgba(0,0,0,.3));
    -webkit-filter: drop-shadow(0px 3px 2px rgba(84, 66, 66, 0.3));

}
}
